<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.ntsc.job.dao.IJobInviteDao">
	<!-- 添加招聘信息 -->
	<insert id="addJobInvite" parameterType="cn.edu.ntsc.job.domain.Job">
		insert into job_list(
		job_CompanyName,
		job_IsPartTime,
		job_Title,
		job_Desc,
		job_Degree,
		job_Sex,
		job_WorkAddress,
		job_Salary,
		job_EmpCount,
		job_Contact,
		job_PublishtTime,
		job_ExpireTime,
		job_Remarks,
		job_Status
		)values(
		#{jobCompanyName},
		#{jobIsPartTime},
		#{jobTitle},
		#{jobDesc},
		#{jobDegree},
		#{jobSex},
		#{jobWorkAddress},
		#{jobSalary},
		#{jobEmpCount},
		#{jobContact},
		#{jobPublishtTime},
		#{jobExpireTime},
		#{jobRemarks},
		#{jobStatus}
		)
	</insert>
</mapper>
